.box1{
    width: 300px;
    height:345px;
    background-color: aqua;
    padding: 30px;
    border-radius: 20px;
}
.box2{
    width: 300px;
    height:345px;
    background-color: rgb(18, 60, 60);
    padding: 30px;
    border-radius: 20px;

}
.box3{
    width: 300px;
    height:345px;
    background-color: rgb(105, 116, 116);
    padding: 30px;
    border-radius: 20px;
}
.box{
    display: flex;
    justify-content: space-around;
}
.barre{
    display: flex;
    justify-content: space-between;
}
.nav{
    display: flex;
    justify-content: space-between;
    margin-right: 100px;
    margin-left: 100px
}

.menu{
    display: flex;
    width: 400px;
    justify-content: space-around;

}
.menu > li:hover{
    color: rgb(81,102,102);
}
.menu > li{
    color: rgb(211, 210, 216);
    list-style: none;
} 
.parag{
    color: rgb(45, 12, 153);
}
.titre{
    color: aqua;
    text-decoration: underline;
    font-size: 29;
    text-align: center;
}
.parag{
    display: flex ;
    justify-content: left;
}
.box> div > h1{
    color: rgb(7, 137, 48);
}
.box> div > h2{
    color: rgb(41, 81, 101);
}
.box> div > h3{
    color: aliceblue;
}
.box> div > h4{
    color: aliceblue;
}
.parag{
    margin-left: 60px;
    margin-right: 60px;

}
.parag{
    display: flex;
    margin-left: 100px ;
    margin-right: 100px;
}
.section2{
    width: 200px;
    background-color: brown;
}

